name: "CI"
on:
  workflow_call:
    inputs:
      subproject:
        required: true
        type: string
env:
  NDLA_RELEASES: ${{ secrets.NDLA_RELEASES }}
jobs:
  unit_tests:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: coursier/cache-action@v8
      - uses: jdx/mise-action@v3
      - uses: ndlano/reusable-workflows/.github/actions/setup-ndla-login@main
        with:
          AWS_CLIENT_ID: ${{ secrets.CI_AWS_CLIENT_ID }}
          AWS_CLIENT_SECRET: ${{ secrets.CI_AWS_CLIENT_SECRET }}
          AWS_ECR_REPO: ${{ secrets.NDLA_AWS_ECR_REPO }}
          DOCKER_HUB_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
          DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
          RELEASE_ROLE: ${{ secrets.CI_RELEASE_ROLE }}
      - name: Unit tests
        run: ./mill -i ${{ inputs.subproject }}.test
