name: "Linting & Formatting"
on: [push, pull_request]
env:
  CI_RELEASE_ROLE: ${{ secrets.CI_RELEASE_ROLE }}
  CI_GITHUB_TOKEN: ${{ secrets.CI_GITHUB_TOKEN }}
jobs:
  formatting:
    name: Formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: coursier/cache-action@v8
      - uses: jdx/mise-action@v3
      - name: Check all formatting
        run: ./checkfmt.sh
      - name: Check copyrights
        run: ./mill -i _.copyrightCheck
  linting:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: coursier/cache-action@v8
      - uses: jdx/mise-action@v3
      - name: Build required semanticdb files
        run: ./mill -i _.semanticDbData
      - name: Check dependency cycles
        run: ./mill -i dependency-graph.run
