name: 'Publish typescript types'
on:
  workflow_dispatch:
    inputs: { }
  push:
    branches:
      - master
    paths:
      - 'typescript/types-backend/**'
      - '!typescript/types-backend/package.json'
permissions:
  id-token: write
  contents: read
env:
  CI_GITHUB_TOKEN: ${{ secrets.CI_GITHUB_TOKEN }}
  KNOWIT_EMAIL: ${{ secrets.KNOWIT_EMAIL }}
jobs:
  publish_typescript_types:
    name: Publish typescript types
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.CI_GITHUB_TOKEN }}
      - uses: jdx/mise-action@v3
      - name: Setup git
        run: |
          git config user.email "$KNOWIT_EMAIL"
          git config user.name "github-actions"
      - name: Publish typescript types
        run: |
          cd typescript/types-backend
          corepack enable
          yarn
          yarn build
          yarn version patch
          yarn npm publish --provenance --access public
          git add package.json
          git commit -m "AUTOMATION: Bumped types-backend package version"
          git push
          git push --tags
